@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Varela+Round&display=swap');

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: rgb(228, 59, 161);

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  text-align: center;
  direction: rtl;
}

#root {
  padding: 1rem;
}

.title {
  font-size: 2rem;
  color: rgb(228, 59, 161);
  font-weight: bold;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.parchment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 2em);
  margin: 1em;
  box-sizing: border-box;
  padding: 4em;
  box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
  background: #fffef0;
  color: black;

  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  direction: rtl;
}

.choice:hover {
  color: rgb(228, 59, 161);
}
